#sidebar{

  display: flex;
  flex-direction: column;
  background-color:#9398b4;
}

ul {
  list-style-type: none;
}
li{

  margin: 25px;
  padding: 5px;
}

#sidehead{
color:lightskyblue;
text-align: left;
}

#error{
font-size: 150px;
padding: 5px;
}
.bg-login-image {
  background: url(https://source.unsplash.com/K4mSJ7kc0As/600x800);
  background-position: center;
  background-size: cover;
}
.bg-register-image {
  background: url("https://source.unsplash.com/Mv9hjnEUHR4/600x800");
  background-position: center;
  background-size: cover;
}
.bg-password-image {
  background: url(https://source.unsplash.com/oWTW-jNGl9I/600x800);
  background-position: center;
  background-size: cover;
}
section{

  background-color:rgb(91, 91, 146);
  height:100vh;
}
#login{
 height:100vh;
  justify-content: center;
}

#baserow{

height:100vh;
}




.text-gray-800 {
  color: #5a5c69!important;
}

#btn-g {

  color: #fff;
  background-color: #ea4335;
  border-color: #fff;
  display: block;
  width: 100%;
}

#btn-f {

  color: #fff;
  background-color:royalblue;
  border-color: #fff;
  display: block;
  width: 100%;
}
#grey{
  color: #f8f9fc!important;
  background-color: #5a5c69!important;
}
.text-xs {
  font-size: .7rem;
  color: grey
}
.text-lg {
  font-size: 1.2rem;
  color: grey
}
.bg-gray-100 {
  background-color: #f8f9fc !important;
}

.bg-gray-200 {
  background-color: #eaecf4 !important;
}

.bg-gray-300 {
  background-color: #dddfeb !important;
}

.bg-gray-400 {
  background-color: #d1d3e2 !important;
}

.bg-gray-500 {
  background-color: #b7b9cc !important;
}

.bg-gray-600 {
  background-color: #858796 !important;
}

.bg-gray-700 {
  background-color: #6e707e !important;
}

.bg-gray-800 {
  background-color: #5a5c69 !important;
}

.bg-gray-900 {
  background-color: #3a3b45 !important;
}

.border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
}

.border-bottom-primary {
  border-bottom: 0.25rem solid #4e73df !important;
}

.border-left-secondary {
  border-left: 0.25rem solid #858796 !important;
}

.border-bottom-secondary {
  border-bottom: 0.25rem solid #858796 !important;
}

.border-left-success {
  border-left: 0.25rem solid #1cc88a !important;
}

.border-bottom-success {
  border-bottom: 0.25rem solid #1cc88a !important;
}

.border-left-info {
  border-left: 0.25rem solid #36b9cc !important;
}

.border-bottom-info {
  border-bottom: 0.25rem solid #36b9cc !important;
}

.border-left-warning {
  border-left: 0.25rem solid #f6c23e !important;
}

.border-bottom-warning {
  border-bottom: 0.25rem solid #f6c23e !important;
}

.border-left-danger {
  border-left: 0.25rem solid #e74a3b !important;
}

.border-bottom-danger {
  border-bottom: 0.25rem solid #e74a3b !important;
}

.border-left-light {
  border-left: 0.25rem solid #f8f9fc !important;
}

.border-bottom-light {
  border-bottom: 0.25rem solid #f8f9fc !important;
}

.border-left-dark {
  border-left: 0.25rem solid #5a5c69 !important;
}

.border-bottom-dark {
  border-bottom: 0.25rem solid #5a5c69 !important;
}
.small, small {
  font-size: 80%;
  font-weight: 400;
}
.progress-sm {
  height: .5rem;
}
.rotate-15 {
  transform: rotate(15deg);
}

.rotate-n-15 {
  transform: rotate(-15deg);
}
.float-right {
  float: right!important;
}


body {
  margin: 0;
}
.main{
  margin: 0; 
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 220px;
  background-color:#9398b4;
  position: absolute;
  height: 200vh;
  overflow: auto;
}


.sidebar a {
  display: block;
  color: black;
  padding: 15px;
  margin-left: 30px;
  margin-top: 5px;
  text-decoration: none;
  
}
#sideheader{

margin-left: 10px;
color:whitesmoke;

}
#boxlogo{

 margin-right: 10px; 
}
.sidebar a:hover:not(.active) {
  background-color:blueviolet;
  color: white;
}

div.main {
  margin-left: 220px;
  padding: 1px 16px;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.main {margin-left: 0;}

  #baserow{

    height:20vh;
    width:100%;
    }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
  }
}

#doughnut{

  height:40vh;
  width:40vh;
  align-content: center;
  margin-left:10px;
}
#doughnutcard{

  height:50vh;
  width:50vh;
  align-content: center;
  margin-bottom: 55px;
}